*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #e3e3e3;
}

ul, .article__meta {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

a {
    text-decoration: none;
}

.logo {
    font-weight: bold;
}

.profile_img {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
}
